.Drawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 320px;
  padding: 50px 10px;
  box-sizing: border-box;
  background-color: #fff;
  transform: translateX(0px);
  transition: transform .6s ease-in-out;
  z-index: 90;

  &.close {
      transform: translateX(-320px);
  }

  & > ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;

      & > li {
          margin-bottom: 15px;
          width: fit-content;

          & > a {
              width: fit-content;
              color: #363d54;
              font-size: 30px;
              background-color: #fff;
              position: relative;
              transition: all .3s;
              cursor: pointer;
              box-sizing: content-box;

              &:hover {
                  opacity: .7;
              }

              &:active {
                  transform: scale(.98);
              }
          }
      }
  }


}