.MenuToggle {
  position: fixed;
  top: 25px;
  left: 30px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  transition: all .6s ease-in-out;
  z-index: 100;

  &:hover {
    color: #fecaca
  }

  &.open {
      left: 320px;
      color: #ff5e5e
  }
}